[submodule "external/decomp-permuter"]
	path = external/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter.git
[submodule "external/mwccgap"]
	path = external/mwccgap
	url = https://github.com/ThirstyWraith/mwccgap.git
[submodule "external/psyq_headers"]
	path = external/psyq_headers
	url = https://github.com/jype0/psyq_headers.git
